<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDE Social</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Recent tweets from Web Google Developer Experts.">
  <meta name="theme-color" content="#fff"/>

  <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.0.2/bundles/webcomponents-sd-ce.js"></script>
  <script src="https://unpkg.com/@material/top-app-bar@0.36.1/dist/mdc.topAppBar.min.js"></script>
  <script src="https://unpkg.com/@material/drawer@0.36.1/dist/mdc.drawer.min.js"></script>
  <script src="https://unpkg.com/twitter-status/dist/twitter-status.bundled.js"></script>
  <script src="/js/index.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/@material/top-app-bar@0.36.1/dist/mdc.top-app-bar.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@material/drawer@0.36.1/dist/mdc.drawer.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@material/list@0.36.0/dist/mdc.list.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@material/button@0.36.1/dist/mdc.button.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/index.css">

  <link rel="manifest" href="/manifest.json">
</head>
<body>

  {{{body}}}

</body>
</html>
