html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  display: inline-flex;
}

#container {
  width: 100%;
}

main {
  margin: 0 auto;
  max-width: 600px;
  display: block;
}

footer, #intro {
  padding: 24px;
  text-align: center;
}

twitter-status {
  margin-bottom: 8px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0 ,0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  display: block;
}
