html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --mdc-theme-on-primary: #000;
  --mdc-theme-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-secondary: #000;
}

body {
  display: inline-flex;
}

#container {
  width: 100%;
}

main {
  margin: 0 auto;
  max-width: 600px;
  display: block;
}

footer, #intro {
  padding: 24px;
  text-align: center;
}

twitter-status {
  margin: 8px;
}

a, a:visited {
  color: var(--mdc-theme-on-primary) !important;
}

.mdc-top-app-bar {
  color: var(--mdc-theme-on-primary) !important;
  background-color: var(--mdc-theme-primary) !important;
}

.mdc-list-item--activated {
  color: var(--mdc-theme-on-secondary) !important;
  background-color: var(--mdc-theme-secondary) !important;
}

.mdc-button {
  color: var(--mdc-theme-on-primary) !important;
  border-color: var(--mdc-theme-on-primary) !important;
  border-radius: 8px;
}

#load-more {
  display: block;
  margin: 0 auto;
}
